<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>energy consumption</title>
</head>
<body>
    
</body>
<div class="container my-5">
    <h1>energy consumption</h1>
    <ul>

        <li><a href="{% url'index % }">Company</a></li>
        <li><a href="{% url 'energy %'}">energy consumption</a></li>
    </ul>
    <table class="table table-primary table-bordered">
        <thead>
            <tr>
                <th>Company</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
    </body>  
    {% if energy_consumptions %}
    {% for energy_consumption in energy_consumptions %}
    <tr>
        <td>{{energy_consumption.company}}</td>
        <td>{{energy_consumption.amount}}</td>
        <td>{{energy_consumption.date}}</td>

    </tr>
    {% endfor %}
    {% else %}
    <tr>no energy consumption  Record</tr>
    {% endif %}
    </tbody>
    </table>
    <div>
        <div class="container p-3">
            <h1>Provide you energy_consumption with us</h1>
            <form action="" method="post">
                {% csrf_token %}
                <label for="company">select A company:</label>
               <select name="company" id="company">
                  {% for company in companies %} 
                   <option value="{{company.id}}">{{company}}</option>
                  {% endfor %}
                </select>
                <label for="amount">Enter Amount:</label>
                <input type="number"name="amount" id="amount">
                <label for="date">select A Date</label>
                <input type="date"name="date" id="date">
                <button type="submit">submit</button>



