<!doctype html>
<html lang="en">

<head>
  <title>Energy Consumptions</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
</title>

<body>
  <div class="container my-5">
    <h1>Energy Consumptions</h1>
    <ul>
      <li><a href="{% url 'index' %}">Company</a></li>
      <li><a href="{% url 'energy' %}">Energy Consumption</a></li>
    </ul>
    <table class="table table-primary table-bordered">
      <thead>
        <tr>
          <th>Company</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% if energy_consumptions %}
        {% for energy_consumption in energy_consumptions %}
        <tr>
          <td>{{ energy_consumption.company }}</td>
          <td> {{ energy_consumption.amount }}</td>
          <td>{{ energy_consumption.date }}</td>

        </tr>
        {% endfor %}
        {% else %}
        <tr>no Energy Consumption Record</tr>
        {% endif %}
      </tbody>
    </table>
    <div>
      <div class="container p-3">
        <h1>Provide your Energy Consumption with us</h1>
        <form action="" method="post">
          {% csrf_token %}
          <label for="company">Select A company:</label>
         <select name="company" id="company">
          {% for company in companies %}
            <option value="{{ company.id }}">{{ company }}</option>
          {% endfor %}
         </select>
         <label for="amount">Enter Amount:</label>
         <input type="number" name="amount" id="amount">
         <label for="date">Select A Date:</label>
         <input type="date" name="date" id="date">
          <button type="submit">Submit</button>
        </form>





















        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</body>

</html>